* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 5%;
    height: 5%;
}

.pai {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline;
    padding: 20px;
}

body {
    background-color: rgb(0, 221, 4);
}

#banner {
    width: 100%;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.textos {
    color: white;
    font-size: 30px;
    text-align: center;
}