*{
    margin: 0;
    padding: 0%;
}

.logo {
    width: 5%;{}
    height: 5%;
    .pai{
        position:relative
        d
        
    }
}

body {
    background-color:purple;

}

#banner  {
    width: 100%;
}

h1{
    color:white ;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    

}


    
.textos{
    color: black;
    font-size: 30px;
    text-align: center;
}